body{
	background-color: white;
    font-family: 'Andada Pro', serif;
    margin: 0px;
}

main{
    margin: 8px;
}

.bouton{
    background-color: #c3b7a4;
    border-radius: 15px;
    text-align: center;
    margin: 10px 60px;
    padding: 20px;
    font-size: 20px;
}

footer{
    background-color: #c3b7a4;
    width: 100%;
}

#dfooter{
    margin: 8px;
}
#container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center ; /* for horizontal aligning of child divs */
    align-items : center ; /* for vertical aligning */
}
#child{
    width: 20%/* yoursize for each div */ ;
}

img{
    width: 30%;
}
