body{
    background-color: #e0dbd5;
    font-family: 'Andada Pro', serif;
    margin: 0px;
}

.bouton{
    background-color: #c3b7a4;
    border-radius: 15px;
    text-align: center;
    margin: 10px 30px;
    padding: 20px;
    font-size: 20px;
}

.bouton:hover{
    background-color: #e0dbd5;
}

footer{
    position: fixed;
    background-color: #c3b7a4;
    width: 100%;
    height: 6%;
    bottom: 0px;
}

#dfooter{
    display: flex;
    position: center;
    margin: 8px;
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
}

main{
    position: fixed;
    height: 94%;
}
.regr{
    margin-top: 35%;
    margin-bottom: 50%;
}
.container{
    height: 100%;
}

.titre{
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

img{
    width: 100%;
    height: 100%;
}
