body{
	background-color: skyblue;
}
.form-outline .form-control {
    min-height: auto;
    padding: .33em .75em;
    border: 1;
    background: white;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.button{
	width: 192px;
	height:  auto;
	display:  block;
	margin:  auto;
	
}