body {
	margin: 0;
	margin-top: 60px;
}

header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

.entetu {
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: #d8d2cb;
}

.entetli {
	float: left;
}

.enteta {
	display: block;
	padding: 14px 16px;
	color: black;
	text-align: center;
	text-decoration: none;
}

header a:hover {
	background-color: #e0dbd5;
	cursor: pointer;
}

