main{
    padding: 0 0;
}


table{
    border-collapse: collapse;
    width: 100%;
}

th{
    background-color: #d8d2cb;
    text-align: center;
}
tr:nth-child(odd)  {
    background-color : #ece9e5;
}
tr:nth-child(even) {
    background-color : #f3f2ef;
}

button{
    background-color: #d8d2cb;
    border-radius: 5px ;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover{
    background-color: #e0dbd5;
}
#recherche{
    display: inline-block;
    margin: 10px;
}

#barre_recherche_ingredient {
    background-color: #d8d2cb;
    width: 300px;
    height: 15px;
    border-radius: 5px;
    padding: 4px;
    border: 0px;
}

#barre_recherche_ingredient:hover {
    background-color: #e0dbd5;
}

#barre_recherche_ingredient:focus{
    background-color: #e0dbd5;
    pointer-events:none;outline:none;
}

#barre_recherche_recette{
    background-color: #d8d2cb;
    width: 300px;
    height: 15px;
    border-radius: 5px;
    padding: 4px;
    border: 0px;
}

#barre_recherche_recette:hover {
    background-color: #e0dbd5;
}

#barre_recherche_recette:focus{
    background-color: #e0dbd5;
    pointer-events:none;outline:none;
}
#btnajouter{
    margin: 0 10px;
}
button#btnajouter{
    background-color: #d8d2cb;
    border-radius: 5px ;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 10px;
    cursor: pointer;
}

#divTri{
    margin: 10px;
}
