html, section {
    width: 100%;
    height: 100%;
}
#content {
    width: 98%;
    height: 85%;
    margin:0 auto;
    padding: 0;
    font-size: 10px;
}
#content table {
    width: 100%;
    margin: auto;
    border-spacing:0;
    font-size: 10px;
}
input{
    font-size: 10px;
}
select{
    font-size: 10px;
}
textarea{
    font-size: 10px;
}
.transform{
    transform: translate(-5px,-55px);
}
#tabInfos, #tableEtapes {
    border: 2px solid black;
    border-bottom: none;
}
/*Partie droite des infos de la recette*/
#infosNom {
    text-align: center;
    border-right: 2px solid black;
    margin-right: 20%;
    max-width: 150px;
}
#infosNom input {
    font-size: 90%;
    padding: 5px;
    border: none;
    width: 95%;
}
input:focus, #selectCategorieRecette:focus {
    outline: 1px solid grey;;
}
/*Partie droite des infos de la recette*/
#infosPortionsAuteur {
    text-align: left;
    padding: 5px;
    padding-left: 5%;
}
#infosPortionsAuteur #recette_auteur {
    min-width: 60%;
    border: none;
}
#infosPortionsAuteur #recette_nbportions{
    max-width: 60%;
    border: none;
}
#selectCategorieRecette {
    min-width: 50%;
    border: none;
}
/*Cacher la flèche du select*/
#selectCategorieRecette {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}
  /* For IE10 */
#selectCategorieRecette::-ms-expand {
    display: none;
}
/*Nom des colonnes*/
#ligneTh th, #ligneTd td {
    padding: 5px 0;
    border-bottom: 2px solid black;
}
#ligneTh th {
    border-right: 2px solid black;
}
#ligneTd td:last-child, #ligneTh th:last-child {
    border-right: none;
}
#ligneTd td {
    padding: 5px;
    border-right: 2px solid black;
}

/*Partie étapes de la fiche*/
#addSousRecette {
    text-align: center;
}
#addSousRecetteButton {
    font-size: medium;
}
/*Infos des étapes*/
.etape td{
    border-bottom: 2px solid black;
}
textarea {
    resize: none;
    overflow: hidden;
}
.etapeInfos {
    padding: 10px;
    border-right: 2px solid black;
}
.etapeInfos input, .etapeInfos textarea {
    display: block;
}
.etapeInfos input {
    width: 90%;
    border: none;
    font-size: 90%;
}
.etapeInfos textarea {
    margin-top: 5px;
    width: 90%;
}
.etapeDuree {
    display: inline;
}
.etapeDuree p, .etapeDuree input {
    display: inline;
    width: 30%;
    margin: 5px 0;
    padding: 0;
}
/*Ingrédients des étapes*/
.td_etape_tableIngredient {
    vertical-align: top;
}
.rechercheIngredient {
    position: relative;
    top: 0;
    padding: 5px;
}
.rechercheIngredient * {
    display: inline-block;
}
.rechercheIngredient p{
    margin-right: 10px;
}
.etapeIngredient {
    width: 90%;
}
.etapeIngredient td {
    border-top: 1px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
    left: -1px;
    position: relative;
    padding-left: 10px;
}
.etapeIngredient td:last-child {
    border-right: none;
}
.etapeIngredient input {
    border: none;
    width: 50%;
}
.etapeIngredient button {
    float: right;
}
#addEtape td {
    padding: 5px;
    text-align: center;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
#addEtape button {
    width: 150px;
    height: 30px;
    font-size: 14px;
}

/*Partie cout de la fiche*/
#ligneCouts td, .cout td, #addCout td {
    border-right: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
}
#ligneCouts td{
    border-top: none;
}
#ligneCouts td:last-child, .cout td:last-child, #addCout td:last-child, #addEtape td:last-child {
    border-right:none;
}
.cout td {
    padding: 1px;
}
.cout td input {
    padding: 1%;
    margin: 0;
    border: none;
}
.cout button {
    float: right;
}
.inputNom{
    width: 100px;
}
.cout_input_valeur {
    width: 50px;

}
.cout span{
    float: right;
}
#ligneTTCPortions td {
    border-bottom: 2px solid black;
}
.total {
    font-weight: bold;
}
.cout .coutVide, .cout .coutVideTotal {
    border: none;
    border-right: 2px solid black;
}
#addCout .coutVide {
    border: none;
}
#videTotalIngredient {
    border: none;
}

/*Fenêtres modales pour les listes d'ingrédients et de recettes*/
#modalIngredient, #modalSousFicheRecette, #modalConfirm {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#modalContentIngredient, #modalContentSousFicheRecette, #modalContentConfirm {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    min-height: 75%;
}
#modalContentIngredient button, #modalContentIngredient input, #modalContentSousFicheRecette button , #modalContentSousFicheRecette input {
    display: block;
    margin-bottom: 10px;
}
#modalContentIngredient tr.ligneIngredient:hover, #modalContentSousFicheRecette tr.ligneRecette:hover{
    background-color: lightgray;
    cursor: pointer;

}
#modalContentIngredient tr.alreadySelected {
    background-color: darkgray;
}
#modalContentIngredient th, #modalContentIngredient td, #modalContentSousFicheRecette th, #modalContentSousFicheRecette td {
    border:1px solid black;
}

/* propriétés des affichages de confirmation de l'enregistrement des recettes */
#modalConfirm {
    background-color: rgba(0,0,0,0);
}
#modalContentConfirm {
    background-color: #e0dbd5;
    text-align: center ;
    border-radius: 5px ;
    width: 37%;
    height: 18%;
    border: 1px solid black;
    min-height: 10%;
}
#modalContentConfirm p {
    width: 100%;
    font-size: xx-large;
}

/*Cacher les boutons et les inputs (pour les PDF, et pour un utilisateur non connectés*/
.tempHide, textarea.tempHide, input.tempHide {
    display: none;
}
#ligneTh th.hideRigthBorder, #ligneTd td.hideRigthBorder, #ligneCouts td.hideRigthBorder, .cout .coutVide.hideRigthBorder {
    border-right: none;
}
.coutType.hideTopBorder {
    border-top: none;
}

#addCout .colonneType {
    border-top: none;
}
.hideText {
    text-indent: -9999px; 
}

p.tempP {
    margin: 0;
    word-wrap: break-word;
}
.etapeInfos p.tempP {
    max-width: 300px;
}
.cout p.tempP {
    max-width: 100px;
}
#infosNom p.tempP {
    max-width: 400px;
    margin: 0 auto;
}
#infosPortionsAuteur p.tempP {
    display: inline;
}