<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/accueil.css" />
	<title> Pédiluve </title>
</head>
<body>
	<img src="./Images/Logo_Reseau_Polytech.svg">
	<div style="height:70px;display:block;"> </div>

<h1 class="champ">Projet piscine</h1>

	<div style="height:70px;display:block;"> </div>
<div class="form-outline" align=center>
	<label class="form-label" for="typeIdentifiant">Identifiant</label><br/>
  <input type="identifiant" id="typeIdentifiant" class="form-control" />
  <div style="height:10px;display:block;"> </div>
</div>
<div class="form-outline" align=center>
	<label class="form-label" for="typeMot_de_passe">Mot de passe</label><br/>
  <input type="mot_de_passe" id="typeMot_de_passe" class="form-control" />
  
</div>
<br>
<div align=center>
	<a href="changer_mot_de_passe.html#MDP">Mot de passe oublié ?</a>
</div>

</body>
</html>